@page "/army/{ArmyId}"
@inject HttpClient Http
@using ArmyStarter.Models;

<h1>Army Unit</h1>


@if (armyUnits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost (THB)</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var armyUnit in armyUnits)
            {
                <tr @onclick="@(e => SelectArmy(armyUnit))">
                    <td>@armyUnit.Unit.Name</td>
                    <td>@armyUnit.Unit.Cost</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (selectedArmyUnit != null)
{
    <div>
        <div>Name: @selectedArmyUnit.Unit.Name</div>
        <div>Link: <a href="@selectedArmyUnit.Unit.Link">@selectedArmyUnit.Unit.Link</a></div>
        <div>Cost: @selectedArmyUnit.Unit.Cost</div>
    </div>
}

@code {
    [Parameter]
    public string ArmyId { get; set; }

    PlanUnit[] armyUnits;

    PlanUnit selectedArmyUnit { get; set; }

    void SelectArmy(PlanUnit armyUnit)
    {
        selectedArmyUnit = armyUnit;
    }

    protected override async Task OnInitAsync()
    {
        string armyUnitUrlString = $"{Constants.ArmyUnitsController}/armyId={ArmyId}";
        armyUnits = await Http.GetJsonAsync<PlanUnit[]>(armyUnitUrlString);
    }

    protected override async Task OnParametersSetAsync()
    {
        string armyUnitUrlString = $"{Constants.ArmyUnitsController}/armyId={ArmyId}";
        armyUnits = await Http.GetJsonAsync<PlanUnit[]>(armyUnitUrlString);
    }
}
