@using ArmyStarter.Models;

<div>
    <h4>@Model.Name</h4>
    @if (SelectedAttack == "Shooting")
    {
        <table>
            <tr>
                <td>Number of Models</td>
                <td>WS</td>
                <td>S</td>
                <td>A</td>
            </tr>
            <tr>
                <td><input type="number" value="@NumberOfModels" /></td>
                <td>@Model.WeaponSkill</td>
                <td>@Model.Strength</td>
                <td>@Model.Attacks</td>
            </tr>
        </table>
    }
    else
    {
        <table>
            <tr>
                <td>Number of Models</td>
                <td>BS</td>
            </tr>
            <tr>
                <td><input type="number" value="@NumberOfModels" /></td>
                <td>@Model.BallisticSkill</td>
            </tr>
        </table>
    }
</div>

@code {
    [Parameter]
    Model Model { get; set; }

    [Parameter]
    string SelectedAttack { get; set; }

    int NumberOfModels { get; set; } = 1;

}
