@using ArmyStarter.Models;
@using ArmyStarter.Blazor.Provider
@inject HttpClient Http

<div class="unit-details">
    <h3 class="card-section-header">
        <span class="card-section-header-left">@PlanUnit.Unit.Name</span>
        <span class="card-section-header-right">Pts: @TotalPoints</span>
    </h3>
    <div class="unit-details-content">
        <table class="table">
            <thead>
                <tr>
                    <th class="model-table-column-name">Name</th>
                    <th class="model-table-column-characteristic">Number Of Models</th>
                    <th class="model-table-column-characteristic">M</th>
                    <th class="model-table-column-characteristic">WS</th>
                    <th class="model-table-column-characteristic">BS</th>
                    <th class="model-table-column-characteristic">S</th>
                    <th class="model-table-column-characteristic">T</th>
                    <th class="model-table-column-characteristic">W</th>
                    <th class="model-table-column-characteristic">A</th>
                    <th class="model-table-column-characteristic">LD</th>
                    <th class="model-table-column-characteristic">Sv+</th>
                    <th class="model-table-column-characteristic">Inv+</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var model in @PlanUnit.Unit.Models)
                {
                    <tr>
                        <td>@model.Name</td>
                        <td>@GetNumberOfModels(@model.ModelId)</td>
                        <td>@model.Movement"</td>
                        <td>@model.WeaponSkill+</td>
                        <td>@model.BallisticSkill+</td>
                        <td>@model.Strength</td>
                        <td>@model.Toughness</td>
                        <td>@model.Wounds</td>
                        <td>@model.Attacks</td>
                        <td>@model.LeaderShip</td>
                        <td>@model.ArmourSave</td>
                        <td>@model.InvulnerableSave</td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <h3>
                Squads Average Wounds
            </h3>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Stats</th>
                        <th>Shooting</th>
                        <th>Melee</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var defendingModel in DefendingModels)
                    {
                        <tr>
                            <td>@defendingModel.Name</td>
                            <td>@GetStatsString(defendingModel)</td>
                            <td>@CalculateWoundsByShooting(defendingModel)</td>
                            <td>@CalculateWoundsByMelee(defendingModel)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    PlanUnit PlanUnit { get; set; }

    [Parameter]
    EventCallback<PlanUnit> PlanUnitChanged { get; set; }

    int TotalPoints
    {
        get
        {
            return PlanUnit.SelectedModels?.Sum(model => model.Model.PointsValue * model.NumberOfModels + model.Model.Weapons.Sum(weapon => weapon.PointsValue) * model.NumberOfModels) ?? 0;
        }
    }

    IList<DefendingModel> DefendingModels
    {
        get
        {
            CalculatorProvider calculatorProvider = new CalculatorProvider();
            var guardsman = new DefendingModel { Toughness = 3, ArmourSave = 5 };

            var defendingModels = new List<DefendingModel>()
            {
                new DefendingModel { Name = "GEQ", Toughness = 3, ArmourSave = 5 },
                new DefendingModel { Name = "MEQ", Toughness = 4, ArmourSave = 3 },
                new DefendingModel { Name = "TEQ", Toughness = 4, ArmourSave = 2, InvulnerableSave = 5 },
                new DefendingModel { Name = "LV", Toughness = 6, ArmourSave = 3 },
                new DefendingModel { Name = "HV", Toughness = 8, ArmourSave = 3, InvulnerableSave = 4 },
            };

            return defendingModels;
        }
    }

    string CalculateWoundsByShooting(DefendingModel defendingModel)
    {
        CalculatorProvider calculatorProvider = new CalculatorProvider();
        decimal totalWounds = 0;
        foreach (var model in PlanUnit.SelectedModels)
        {
            var modelWeapon = model.Model?.Weapons?.FirstOrDefault(weapon => weapon.Weapon.WeaponType != WeaponType.Melee);
            if (modelWeapon != null)
            {
                var attackingModel = new AttackingModel {
                    ToHit = model.Model.BallisticSkill ?? 0,
                    Strength = modelWeapon.Weapon.Strength,
                    Attacks = modelWeapon.Weapon.Attacks * model.NumberOfModels,
                    AP = modelWeapon.Weapon.AP
                };
                totalWounds += calculatorProvider.GetTotalWoundsResult(attackingModel, defendingModel);
            }
        }

        return totalWounds.ToString("0.##");
    }

    string CalculateWoundsByMelee(DefendingModel defendingModel)
    {
        CalculatorProvider calculatorProvider = new CalculatorProvider();
        decimal totalWounds = 0;
        foreach (var model in PlanUnit.SelectedModels)
        {
            var modelWeapon = model.Model.Weapons?.FirstOrDefault(weapon => weapon.Weapon.WeaponType == WeaponType.Melee);
            var attackingModel = new AttackingModel {
                ToHit = model.Model.WeaponSkill ?? 0,
                Strength = model.Model.Strength + (modelWeapon?.Weapon?.Strength ?? 0),
                Attacks = model.Model.Attacks * model.NumberOfModels,
                AP = (modelWeapon?.Weapon?.AP ?? 0)
            };
            totalWounds += calculatorProvider.GetTotalWoundsResult(attackingModel, defendingModel);
        }

        return totalWounds.ToString("0.##");
    }

    int GetNumberOfModels(Guid modelId)
    {
        var selectedModel = PlanUnit.SelectedModels.FirstOrDefault(model => model.Model.ModelId == modelId);

        return selectedModel != null ? selectedModel.NumberOfModels : 0;
    }

    string GetStatsString(DefendingModel defendingModel)
    {
        string stats = $"T{defendingModel.Toughness}";
        if (defendingModel.ArmourSave != null)
        {
            stats += $"/{defendingModel.ArmourSave}+";
        }
        
        if (defendingModel.InvulnerableSave != null)
        {
            stats += $"/{defendingModel.InvulnerableSave}++";
        }

        return stats;
    }
}